/* Estilos Base */
body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a; /* Fondo oscuro */
    color: #fff; /* Color de texto blanco */
    margin: 0;
    padding: 0;
}

.header {
    background-color: #000; /* Negro sólido */
    color: #f9a800; /* Color de texto anaranjado */
    padding: 20px;
    text-align: center;
    position: relative;
}

.logo {
    height: 50px; /* Ajusta la altura según sea necesario */
    position: absolute;
    top: 20px; /* Ajusta la posición vertical según sea necesario */
    left: 20px; /* Ajusta la posición horizontal según sea necesario */
    border-radius: 5px; /* Estilo opcional */
}


.nav {
    position: absolute;
    top: 10px;
    right: 20px;
}

.nav a {
    color: #f9a800; 
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

.nav a:hover {
    text-decoration: underline;
    color: #ffcc00; 
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.content {
    margin: 20px auto;
    max-width: 800px;
    background-color: #333; /* Un gris oscuro para el contenido */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra más destacada */
}

.content h1, .content h2 {
    color: #f9a800; /* Anaranjado para encabezados */
}

.content p {
    line-height: 1.6;
}

.image-container {
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.image-container img {
    max-width: 100%;
    height: auto; /* Ajuste automático de la altura */
}

.footer {
    background-color: #000; /* Negro sólido */
    color: #f9a800; /* Color de texto anaranjado */
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
}

#main-content {
    padding: 20px;
}

#contact-section {
    display: none; /* Oculta la sección de contacto por defecto */
}

.contact-info {
    background-color: #333; /* Un gris oscuro para el fondo */
    color: #fff; /* Color del texto blanco */
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.contact-info a {
    color: #f9a800; /* Color para enlaces */
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.option-header {
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: #444;
    padding: 10px;
    border-radius: 8px;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.option-header:hover {
    transform: translateY(-3px);
    background-color: #555;
}

.option-header img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 5px;
}

.option-header p {
    margin: 0;
    color: #f9a800;
}

.vending-info {
    background-color: #444;
    padding: 20px;
    border-radius: 8px;
    margin: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.vending-info h3,h2 {
    color: #f9a800;
    margin-top: 0;
}

.vending-info p strong {
    color: #f57f20; /* Color naranja */
}

.vending-info ul {
    list-style-type: none;
    padding: 0;
}

.vending-info ul li {
    background: url('assets/icons/check.svg') no-repeat left center;
    padding-left: 25px;
    margin-bottom: 10px;
}

.vending-info p, .vending-info ul {
    margin: 10px 0;
    line-height: 1.6;
}

.vending-image-large {
    text-align: center;
    margin-bottom: 20px;
}

.vending-image-large img {
    max-width: 50vh;
    height: auto;
    border-radius: 8px;
}


/* Media Query para pantallas menores a 992px */
@media (max-width: 992px) {
    .header {
        background: linear-gradient(to right, #000, #333); /* Degradado de negro a gris oscuro */
        height: 100vh; /* Ocupa toda la altura de la pantalla */
        display: flex;
        flex-direction: column;
        justify-content: center; /* Centra verticalmente */
        align-items: center; /* Centra horizontalmente */
    }

    .logo {
        height: 85px; /* Aumenta la altura de la imagen */
    }

    .content {
        max-width: 900px; /* Aumenta el ancho máximo del contenido */
        padding: 30px; /* Aumenta el padding para hacer el contenido más espacioso */
        border-radius: 10px; /* Aumenta el redondeo de las esquinas */
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.6); /* Sombra más pronunciada */
    }

    .image-container {
        width: 500px; /* Aumenta el tamaño del contenedor de la imagen */
    }

    .vending-image-large img {
        max-width: 100%; /* Cada imagen ocupará el 100% del espacio disponible */
    }
}

/* Media Query para pantallas menores a 768px */
@media (max-width: 768px) {
    .header {
        padding: 10px;
        height: auto; /* Ajusta la altura automáticamente */
    }

    .logo {
        height: 60px; /* Reduce la altura de la imagen */
        top: 10px;
        left: 10px;
    }

    .hero {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    .content {
        max-width: 100%; /* Ocupa todo el ancho disponible */
        padding: 15px;
        box-shadow: none; /* Elimina la sombra */
    }

    .image-container {
        width: 100%; /* La imagen ocupa todo el ancho */
    }

    .vending-image-large img {
        max-width: 80%; /* La imagen ocupa el 80% del ancho disponible */
    }

    .footer {
        font-size: 12px; /* Reduce el tamaño del texto en el footer */
        padding: 5px;
        height: auto; /* Ajusta la altura automáticamente */
    }

    .option-header {
        padding: 5px; /* Reduce el padding para hacerlo más compacto */
    }

    .vending-info {
        padding: 10px; /* Reduce el padding */
    }
}
